html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    margin: 0;
    background-color: #EBEBEB;
    transition-duration: 100ms;
}

.body--alternate {
    color: #EBEBEB;
    background-color: #3f3f3f;
    transition-duration: 100ms;
}